body {
    font-family: Arial, sans-serif;
    background-image: url('back3.avif');
    background-size: cover; /* Ensures the background image covers the entire page */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center center; /* Centers the background image */
    background-attachment: fixed; /* Keeps the background image fixed on scroll */
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  h1, h2 {
    color: #000000;
    font-weight: bold;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  
  p, .form-check-label, .nav-link {
    font-weight: bold;
  }
  